//tools
@import "_misc/mixins";
@import "_misc/normalize";
//fonts
@import "../fonts/roboto.css";


* {
  @include box-sizing(border-box);

}

body {
  font-family: Roboto, sans-serif;

  /*
      Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
  */

  line-height: 1.42;
  position: relative;
  background: url("../img/bamboo-header.jpg") no-repeat fixed;
  background-size: cover;
}

ul {
  list-style: none;
}

p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.header {
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
  height: 150px;
  width: 100%;
  background: url("../img/header.png");
  //background: url(http://api.thumbr.it/whitenoise-361x370.png?background=#8fc31fff&noise=626262&density=45&opacity=26);
  opacity: .6;
  border: 1px solid #93c50f;
  box-shadow: 2px 1px 22px rgba(0, 0, 0, .6);
  flex-direction: row;
}

.logo, .email {

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.logo {
  flex-basis: 63%;

  & h1 {
    font-size: 39px;
    margin-left: 25%;
    color: #000;
  }
}

.logo__bamboo {
  width: 100px;
  height: 100px;
  margin-left: 3%;

  & img {
    max-width: 100%;
    fill: black;
  }
}

.email {

  address {
    margin-left: 43%;
    color: black;
    font-weight: 800;
  }
}

.wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-around;

  color: black;
  padding: 10px;
  width: 1200px;

  margin: 0 auto;
  margin-bottom: 15px;

  @include desktop {
    width: 970px;
  }

  @include laptop {
    width: 750px;

  }

  @include tablets {
    width: 480px;

  }

  @include phones {
    width: auto;
  }

  
}

.main {
  display: flex; /* Флексы */
  align-items: flex-start; /* Выравнивание текста по вертикали */
  flex-direction: column;

  background: rgba(196, 231, 94, 0.8);

  padding: 20px;

  text-align: justify;
  width: 68%;

  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;

}

.sidebar__menu {
  display: flex; /* Флексы */
  align-items: center;
  justify-content: center;
  order: 1;
  text-align: center;

  margin: 0;
  flex-basis: 270px;
  list-style: none;
  flex-flow: row wrap;
  background: rgba(105, 159, 32, 0.6);
  padding: 11px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.sidebar__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 47%;
  padding: 2px;
  font-size: 19px;
  margin-right: 3%;
  font-weight: 300;
  height: 23%;
  transition: all 0.5s;

  &:hover {
    border: 1px solid #828f44;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 500;
  }
}

.sidebar__item-active {
  border: 1px solid #828f44;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;

}

.sidebar-img {
  order: 2;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 50px;
  opacity: 0.9;

  & img {
    max-width: 100%;
  }

}

.socials__vk {
  display: flex; /* Флексы */
  align-items: center; /* Выравнивание текста по вертикали */
  justify-content: center;
  order: 3;
  //background: rgba(185, 239, 25, 0.7);
  flex-basis: 202px;
  border-radius: 10px;
  //box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  margin-bottom: 110px;
  opacity: 0.7;
}

.socials__fb {
  display: flex; /* Флексы */
  align-items: center; /* Выравнивание текста по вертикали */
  justify-content: center;
  order: 4;
  //background: rgba(185, 239, 25, 0.7);
  padding: 10px;
  margin-bottom: 80px;
  flex-basis: 170px;
  border-radius: 10px;
  //box-shadow: 2px 2px 4px rgba(0,0,0,0.3);

  & iframe {
    border-radius: 10px;
    opacity: 0.8;
  }
}

.footer {
  position: relative;
  height: 120px;
  background: url("../img/footer.png");
  opacity: 0.6;
  border: 1px solid #93c50f;
  box-shadow: 2px 2px 22px rgba(0, 0, 0, .6);

}

.footer__email {
  position: absolute;
  top: 40%;
  right: 32%;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.empty {
  height: 50px;
  width: 100%;
}

.img__big {
  width: 350px;
  align-self: center;
  box-shadow: -3px 4px 16px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;

  & img {
    width: 100%;
    display: block;
  }
}

.article__title {
  align-self: center;
}

.img__big-author {
  width: 510px;
  margin-bottom: 30px;
}

hr {
  width: 100%;
}

.torsion__tabs, .tubename__list {
  width: 100%;
}

.tubename__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tubetitle__item {
  border: 1px solid #39881f;
  width: 31%;
  text-align: center;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  &:hover {
    border: 3px solid #39881f;
  }

}

.tubetitle__item-active {
  border: 3px solid #39881f;
}

.tubedescr__item {
  display: none;
}

.tubedescr__item-active {
  display: flex;
}
