doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Торсионная труба \ Torsion Tubes
        link(rel="stylesheet" href="css/main.css")
    body
        div#fb-root
        script(src="js/fb_script.js")
        include includes/header.pug
        .wrapper
            main.main
                h2.article__title  Сферы применения
                p   Для чего энергетически воздействовать на тело человека?
                br
                strong  Общее воздействие
                br
                p   Человек в современном обществе подвергается постоянному неестественному психическому воздействию, что приводит к хроническому стрессу. Наша культура, внешнее воздействие социума, условия воспитания и представления о себе сформировали нас так, что потребностям агрессивного и беспокойного сознания беспрекословно подчинено всё тело. Такой психоэнергетический «перекос» не проходит даром – многие места тела оказываются постоянно сжаты хроническими спазмами, в некоторых энергия уже почти не движется — они находятся как бы в «спящем» состоянии. Кроме того, искажающая деятельность сознания приводит к высокой, часто избыточной энергетической активности лишь на небольшом участке тела и мозга, неиспользуемая же часть страдает от энергетической «вялости». Торсионные трубы призваны скомпенсировать угнетённую энергетику таких участков, принудительно запускают и «разгоняют» её, и, если позволяет их состояние, «растворяют» спазмы и блоки. Случается, что некоторые места тела после такого воздействия восстанавливают утраченную чувствительность, что переживается довольно необычно.
                p   Кроме того, стоит отметить постоянное воздействие на тело человека всевозможных высокочастотных излучений от бытовых приборов — мобильных телефонов, микроволновых печей и проч. Воздействие трубы снижает вредоносное воздействие этого электромагнитного «смога».
                p   Перед применением трубы рекомендуем ознакомиться с разделом сайта «Эксплуатация»
                .img__big
                    img(src='img/img_applying2.jpg')
                br
                strong  Психика
                p   Поскольку состояние нашего сознания напрямую связано с общим состоянием тела, воздействие торсионной трубы оказывает благоприятный эффект на психику в целом. Такое влияние становится всё более заметным по мере общего развития чувствительности человека.
                p   При воздействии трубой на голову, шею и грудь (основные места психосоматических блоков) ощущение этих участков тела меняется, возникает чувство свежести. Часто  улучшается настроение, общее состояние становится более гармоничным, улучшается внимание, познавательная деятельность и мышление. Если Вам удаётся процесс энергетической проработки тела, то можно сказать, что в целом Вы становитесь более добрым, открытым и отзывчивым человеком.
                p   По опыту многих людей, использование торсионных труб в моменты стрессовых ситуаций даёт возможность не так сильно замыкаться на себе и концентрироваться на собственных переживаниях, сохраняя ощущение внешнего мира.
                p   Во многих случаях при помощи труб удаётся снять бессонницу, вызванную нервным перенапряжением (как правило, проблемной при этом является зона головы).
                br
                strong Здоровье
                br
                p   За время своего использования торсионные трубы успешно применялись Владимиром Васильевичем Долгачёвым для лечения самых различных заболеваний  (более подробно аудиоинтервью в материалах «О воздействии магнитов» в разделе «Тексты, интервью, лекции»). По нашему опыту, их целесообразно использовать при любой локализованной болезни тела, когда поражённое место явно чувствуется пациентом или известно по результатам диагностики.
                p   При воздействии на тело происходит нормализация прежде всего межклеточного обмена в данном участке. Такое мягкое, но глубокое воздействие вызывает усиление циркуляции жидкостей тела: крови, лимфы и межклеточной жидкости. Обмен веществ не только ускоряется, но и становится более эффективным: лучше усваиваются полезные вещества, быстрее выводятся токсины.
                br
                strong  Энергетические практики
                br
                p    Люди, которые занимаются йогой, цигуном, тай-чи или иными системами, работающими с  телом, часто сталкиваются с необычными переживаниями потоков в теле или иных ощущений, которые, как правило, обобщённо называются «энергетикой». По ходу освоения таких практик человек часто начинает чувствовать «плохие» места своего тела — именно для таких мест и предназначена торсионная труба. Она может существенно дополнить энергетическую проработку и освоение таких «повреждённых» участков, в определённом смысле принудительно «открывая» тело снаружи и без специальной настройки сознания.
                .img__big
                    img(src="img/img_applying1.jpg")
                p   Труба работает вне зависимости от теоретической или религиозной направленности пользователя, поскольку влияет на тело помимо сознания и его установок.
                br
                p   © http://torsiontubes.in.ua/
                .empty
            nav.sidebar
                ul.sidebar__menu
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='index.html') Главная
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='author.html') Об авторе
                    li.sidebar__item.sidebar__item-active
                        .nav__title
                            a.nav__link(href='applying.html') Сферы применения
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='maintenance.html') Особенности использования
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='stuff.html') Stuff
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='feedback.html') Отзывы
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='order.html') Заказать
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='contacts.html') Контакты
                include includes/socials.pug
        footer.footer
            address.footer__email   E-mail: torsiontubes@gmail.com
