doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Торсионная труба \ Torsion Tubes
        link(rel="stylesheet" href="css/main.css")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    body
        div#fb-root
        script(defer src="js/fb_script.js")
        include includes/header.pug
        .wrapper
            main.main
                h2.article__title  Контакты
                strong   Украина:
                p   Тел.:
                    =' '
                    a(href='tel:+38504544043')  +38 (050) 454-40-43
                p
                    a(href='mailto:torsiontubes@gmail.com')    E-mail:  torsiontubes@gmail.com
                br
                hr
                br
                strong   Россия:
                p   Санкт-Петербург
                p   Тел.: +7(950)2213307 Игорь Коновалов
                p   E-mail: konovalov.avp@gmail.com
                p   https://vk.com/id794309
                br
                p   Сибирь — Yoga Studio ZEN
                p   Сайт: zenyoga.studio
                p   E-mail: mail@mironenko.space
                p   Тел: ‎+7-913-6-333-111 Viber, Telegram, Watsapp
                br
                p   © http://torsiontubes.in.ua/
            nav.sidebar
                ul.sidebar__menu
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='index.html') Главная
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='author.html') Об авторе
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='applying.html') Применение
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='maintenance.html') Эксплуатация
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='stuff.html') По теме
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='feedback.html') Отзывы
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='order.html') Заказать
                    li.sidebar__item.sidebar__item-active
                        .nav__title
                            a.nav__link Контакты
                include includes/socials.pug
        footer.footer
            address.footer__email
                a(href='mailto:torsiontubes@gmail.com') E-mail: torsiontubes@gmail.com