doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Торсионная труба \ Torsion Tubes
        link(rel="stylesheet" href="css/main.css")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
        script(src="js/modernizr.js")
    body
        div#fb-root
        script(defer src="js/fb_script.js")
        include includes/header.pug
        .wrapper
            main.main
                h2.article__title  Отзывы
                p   Реальная информация реальных людей, проверенная временем на собственном опыте. В этом разделе публикуются отзывы исследователей, занимающихся с трубами с начала их условно «массового» появления в июле 2012 г.
                hr
                br
                strong Денис Зикеев
                p   Трубы Долгачева – это энергетический камертон для тела. Они помогают организму «вспомнить», на какой частоте он должен работать. Сознание, доминируя в нашей жизни, искажает естественную частотную картину тела. Когда человек, выполняя внутренние практики, вторгается своим ментальным вниманием в объем тела, это волей-неволей приводит к микро-деформациям энергетической структуры. Накапливаясь, эти отклонения сдвигают общий энергетический спектр далеко от его природного диапазона. В итоге тело лишается естественной природной подпитки, у него ослабевает способность к самовосстановлению.
                p   За счет использования бамбука, трубы генерируют направленный поток живительной энергии, которая помогает телу восстановиться, отстроить собственную частоту в той или иной зоне. Это уникальная возможность напомнить телу о том, каким оно было создано природой.
                p   Кроме восстанавливающей функции, трубы можно использовать как тренажер восприятия. Мало кто умеет чувствовать тело на частоте самого тела. Обычно все чувствование энергий и потоков тела сводится к манипулированию вниманием на частоте сознания, в результате чего получается сильно урезанная и искаженная картина. Трубы помогают настроить восприятие на телесную частоту, «примирить» по частотам тело и сознание и открыть новые стороны жизни, доступные в телесном спектре энергетического чувствования.
                br
                hr
                br
                strong  Виктор Петренко (тренер — эксперт в системе йоги Y23)
                br
                p   Я занимаюсь телесно-ориентированными практиками более 10 лет , поэтому почти всегда скептически относился ко всем явлениям воздействующим на человека извне и изменяющим состояние. Когда мне предложили, то ради чистого интереса решил попробовать поэкспериментировать с трубами. Мой первый опыт был с тремя трубами. Через какое-то время, после того как их мне поставили, появилось ощущение, что каналы тела продувает электрическим ветром. При этом в тех местах тела, в которых у меня проблемы, появилось сильное уплотнение. Еще через какое-то время уплотнение резко рассеялось. Внимание при этом значительно расширилось, заполняя пространство объема комнаты, в которой я находился. После сеанса ощущение объема сохранилось и появилось переживание тотальной целостности самого себя. Я не могу сказать, что я раньше не испытывал таких переживаний, просто качество в этот раз было на порядок выше и чище. Через какое-то время состояние рассеялось и свернулось, но оказалось, что потенциальная возможность разворачивать его самому без помощи труб осталась. Трубы как индикатор, выявили зоны в теле, в которых присутствует глубокое напряжение, из-за чего тело воспринимается фрагментарно. Просто отпуская и расслабляя эти зоны, удавалось воспроизводить то же переживание объема и целостности. После этого я понял, что открыл для себя еще один мощнейший инструмент для самопознания и решил работать с трубами на регулярной основе. Приятно порадовал и терапевтический аспект воздействия. Остаточные проявления некогда сильного сколиоза в моем теле после сеансов исчезали. Через время они возвращались, но оставалось переживание нового образа ощущения тела, ровного и объемного. Стало гораздо легче выстраивать симметрию в жизни и практике. Само качество практики тоже на порядок изменилось. Особенно это касается энергодинамических техник, с которыми я работаю.
                br
                hr
                br
                strong  Галина Ш., Москва
                br
                p   Пользуюсь трубами около года, ключевым аспектом в воздействии является их способность делать восприятие ясным и целостным. В контексте внутренней работы позволяют начинать движение из состояния, когда сознание намного «тише» своей привычной нормы, или же вернуться к более сбалансированному состоянию тела/сознания, если вываливаешься в полностью сознательный режим .
                p   Если говорить о воздействии на тело, то преимуществом перед другими внешними методами воздействия на него является то, что те изменения по снятию напряжений и зажимов, которое вызывают трубы, воспринимаются телом очень легко и естественно, и процент отката в заученное нездоровое состояние очень невелик. По моему опыту, резкое снятие зажимов в теле приводило к такому же резкому возвращению их обратно, т.е. тело как бы не успевало понять что и зачем с ним произошло и возвращалось в свою «норму», трубы же прорабатывают такие моменты медленней, но мягче, и что самое важное, делают это на фоне ясного «включенного» восприятия, позволяя произойти изменениям целостно и глубоко.
                br
                hr
                br
                strong  Анна Д., Минск.
                p   Пользуюсь трубой несколько месяцев. Могу отметить, труба отлично выравнивает психическое состояние. Это хорошо заметно после напряженного рабочего дня — выводит мозг из зацикленности на проблемах. Касательно физиологии — мне воздействии трубы помогает устранять спазмы в животе, при этом в области прикладывания (и в голове тоже, что интересно) появляется ощущение легкости и раскрытости. Спасибо разработчикам :-).
                br
                hr
                br
                p   Если Вы пользуетесь трубой и имеете интересные впечатления от работы с ней, пришлите свои впечатления на  torsiontubes@gmail.com, будем признательны за обратную связь.
                br
                p   © http://torsiontubes.in.ua/
            nav.sidebar
                ul.sidebar__menu
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='index.html') Главная
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='author.html') Об авторе
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='applying.html') Применение
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='maintenance.html') Эксплуатация
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='stuff.html') По теме
                    li.sidebar__item.sidebar__item-active
                        .nav__title
                            a.nav__link Отзывы
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='order.html') Заказать
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='contacts.html') Контакты
                include includes/socials.pug
        footer.footer
            address
                a(href='mailto:torsiontubes@gmail.com') E-mail: torsiontubes@gmail.com