doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description" content="Владимир Долгачёв, Владимир Васильевич Долгачёв, развитие чувствительности, торсионная труба, восстановление энергетики")
        title Торсионная труба Долгачёва| Torsion Tubes
        link(rel="stylesheet" href="css/main.css")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    body
        div#fb-root
        include includes/header.pug
        .wrapper
            main.main
                p   Если Вы попали на этот сайт, то, возможно, интересуетесь темами, связанными с энергетикой и чувствительностью. По этому поводу написано немало теоретических материалов, разнообразных и порой откровенно противоречивых, но любая теория — это лишь крохотная, почти незначительная  часть реального энергетического мира. К тому же, в существующем на сегодня разнообразии информации легко заблудиться. Несложно прийти к выводу,  что единственный способ адекватно понять энергетику собственного тела — это исследовать её самому, в реальности собственных действий. Для подобного рода работы и предназначена торсионная труба, изобретённая Владимиром Васильевичем Долгачёвым. В некотором смысле труба выполняет роль своеобразного «камертона», т.е. внешнего независимого от наблюдателя источника излучения с постоянной частотой, который определённым образом воздействует на тело. В ответ тело начинает «подстраиваться» под частоту трубы: это приводит к изменению состояния данного участка тела и всего организма, что отражается и на сознании. Не существует способа объяснить адекватно, каким образом действует торсионная труба, так как уровень, на котором происходит воздействие, очень глубок и непривычен нормальному человеку. Его активацию можно сравнить с переживанием человека, который всю жизнь был слепым и внезапно начал видеть. На наш взгляд,  при активном желании и должной настойчивости существует возможность исследовать этот уровень себя самостоятельно. Торсионная труба представляет собой цилиндр из бамбукового дерева (цельный или из составных частей), на одном конце которого закреплён кольцевой анизотропный ферритовый магнит из ферромагнетика особой породы. С другой стороны цилиндра сделана коническая выемка со специальными пропорциями.
                .img__big
                    img(src='img/img_main3.jpg' alt='торсионная труба долгачёва')
                p   Конструкция трубы, её размеры и материалы были подобраны опытным путём во время собственного исследования Владимира Васильевича Долгачёва в области психоэнергетики человека и целительства. За последние годы воздействие трубы испытали на себе уже сотни человек.
                p   Труба предназначена для прямого энергетического воздействия на тело человека. По энергетической частоте, по «звучанию» волокно бамбука является наиболее близкой к частоте тела здорового человека – именно это свойство бамбука является основополагающим в работе трубы. Магнит в данном случае играет вспомогательную роль – он создаёт однонаправленное излучение, которое проходя сквозь бамбуковый корпус воздействует на тело пациента со стороны конической выемки, со временем перенастраивая его «под себя». Коническая выемка работает как линза — она фокусирует и направляет излучение трубы.
                .img__big
                    img(src='img/img_main4.jpg' alt='торсионная труба долгачёва')
                p   Ранее в рамках экспериментов с психоэнергетикой человека как материалы для подобных труб Владимиром Васильевичем Долгачёвым применялись древесина осины, рога животных, кораллы, гибкие прозрачные полихлорвиниловые трубки и др. Но наиболее оптимальным и естественным с точки зрения воздействия на тело и доступности изготовления оказался именно бамбук.
                p
                    strong  Информация для скептиков:
                p   Современная медицина уже давно использует целебные свойства магнитов в своих целях — существует целое направление лечебной магнитотерапии, которая признана и используется во многих странах мира. Торсионная труба Долгачёва по праву может считаться инструментом подобной терапии: ведь суть её воздействия заключается именно в том, что статическое магнитное излучение преобразуется волокнами бамбука, воздействуя на организм человека.
                p   Проект с торсионными трубами на сегодняшний день находится в самом начале развития. Судя по обратной связи, которую мы постоянно получаем от пользователей трубы (особенно работающих с заболеваниями), потенциал воздействия торсионных труб ещё предстоит открыть. Интересны отзывы о воздействии труб специалистов, профессионально занимающихся с человеческим телом: йогатичеров, психотерапевтов, медиков, массажистов и просто чувствительных людей.
                p   Для подобного рода материалов был сделан сайт «Мастерская психоэнергетики» - на нём опубликованы различные способы энергетического воздействия на тело, некоторые из которых рекомендованы Владимиром Долгачёвым, а также размещены отзывы различных специалистов, которые используют трубы в повседневной практике (раздел «Участники»).
                p
                p   © http://torsiontubes.in.ua/
            nav.sidebar
                ul.sidebar__menu
                    li(class='sidebar__item sidebar__item-active')
                        .nav__title
                            a.nav__link Главная
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='author.html') Об авторе
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='applying.html') Применение
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='maintenance.html') Эксплуатация
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='stuff.html') По теме
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='feedback.html') Отзывы
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='order.html') Заказать
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='contacts.html') Контакты
                include includes/socials.pug
        footer.footer
            address.footer__email
                a(href='mailto:torsiontubes@gmail.com') E-mail: torsiontubes@gmail.com
        script(src="js/jquery.min.js")
        script(src="js/main.js")






