doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description" content="Владимир Долгачёв, Владимир Васильевич Долгачёв, развитие чувствительности, торсионная труба, восстановление энергетики")
        title Торсионная труба Долгачёва| Torsion Tubes
        link(rel="stylesheet" href="css/main.css")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    body
        div#fb-root
        script(defer src="js/fb_script.js")
        include includes/header.pug
        .wrapper
            main.main
                h2.article__title  Особенности использования
                p   Нужно сразу расставить верные акценты в понимании действия торсионных труб и их применении в жизни человека.
                p   Труба Долгачёва не является панацеей от всех бед, и эффект от её применения будет сильно зависеть от обстоятельств жизни и состояния организма конкретного человека. У каждого из нас есть своё собственное видение мира, своё тело с индивидуальными, часто хроническими «неисправностями», накопленными в течении жизни, устойчивые убеждения и психологические установки, которые достаточно мощно влияют на общую психоэнергетическую конструкцию – всё это придётся понять и распутать самому.
                p   Не ждите от торсионной трубы сильных и радикальных перемен в своей жизни – их не будет, как не будет и от любого внешнего воздействия. Труба не подарит Вам глубокого понимания себя, не снимет внутренние конфликты и противоречия, не вылечит от рака за неделю – иными словами, не сделает за Вас самого главного и не является «волшебной таблеткой».
                p   Использование трубы рекомендуется прежде всего для людей, интересующихся освоением собственной психоэнергетики и развитием чувствительности, для экспериментаторов, которые напрямую или хотя бы бессознательно чувствуют взаимосвязь общего состояния энергетики и качества жизни и исследуют их с полной ответственностью.
                .img__big
                    img(src='img/img_maintenance1.jpg' alt='торсионная труба долгачёва')
                p   Кроме того, труба действительно эффективна в качестве вспомогательного лечения многих заболеваний локального характера (но основное лечение не заменяет) – исходя из нашего опыта, она должна массово применяться в качестве нетрадиционного средства медицины.
                p   При небольшом навыке работы с трубами можно использовать их в качестве сильного и довольно быстрого релаксанта.
                br
                strong  Способ применения
                br
                p   При работе трубу направьте конической выемкой на участок тела, можно прижимать вплотную.Стоит начать занятия с трубой с 15-20 минут воздействия на определённый участок тела, на мой взгляд, лучше начать с головы и шеи, как с наиболее поражённых мест. Как правило, с опытом человек начинает лучше понимать и чувствовать, куда именно её нужно ставить и на какое время. Не рекомендуется осуществлять воздействия трубой на одно место больше 20-30 мин., и тем более нельзя засыпать с ней на всю ночь.
                p   После воздействия магнитной трубой рекомендуется растереть и размять ладонями участок тела, на который производилось воздействие, для равномерного распределения энергии.
                .img__big
                    img(src='img/img_maintenance3.jpg' alt='торсионная труба долгачёва')
                p   Если Вы поначалу не чувствуете никакого эффекта от действия трубы – не беда.
                    strong  Важно: Не старайтесь придумывать себе ощущения, визуализировать потоки или как-то специально прислушиваться к месту воздействия на тело.
                    span    Принцип работы торсионной трубы таков, что не требует веры пациента в благотворное воздействие – труба работает сама по себе вне зависимости от того, что Вы об этом думаете или как к этому относитесь. Возможно, через некоторое время Вы сможете узнавать и понимать её действие по собственным ощущениям – лучше, чтобы они появились сами.
                p   Мягкое и нежное воздействие трубы постепенно и медленно перенастраивает энергетику тела «микрон за микроном», поэтому сразу настройтесь на длительную и кропотливую работу, которая продлится не один месяц.
                p   Для более детального понимания работы трубы и её применения прослушайте интервью с Владимиром Васильевичем Долгачёвым «О магнитных трубах» в разделе
                    =' '
                    a(href='stuff.html').
                        «Stuff»
                    span    .
                br
                strong  Количество труб.
                br
                p    Для начала, чтобы понять, о чём вообще идёт речь и начать работу, рекомендуется 2 трубы: диам. 100 мм и 80 мм. (о типах труб см. раздел
                    =' '
                    a(href='order.html').
                        «Заказать»
                    span    ) При желании можно обойтись и одной, но соответственно эффект будет меньше.
                p   Впоследствии количество труб можно увеличить, это сэкономит время при одновременной работе с разными участками.
                br
                p   © http://torsiontubes.in.ua/
            nav.sidebar
                ul.sidebar__menu
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='index.html') Главная
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='author.html') Об авторе
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='applying.html') Применение
                    li.sidebar__item.sidebar__item-active
                        .nav__title
                            a.nav__link(href='maintenance.html') Эксплуатация
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='stuff.html') По теме
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='feedback.html') Отзывы
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='order.html') Заказать
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='contacts.html') Контакты
                include includes/socials.pug
        footer.footer
            address.footer__email
                a(href='mailto:torsiontubes@gmail.com') E-mail: torsiontubes@gmail.com
