doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Торсионная труба \ Torsion Tubes
        link(rel="stylesheet" href="css/main.css")
    body
        div#fb-root
        script(src="js/fb_script.js")
        include includes/header.pug
        .wrapper
            main.main
                h2.author__title  Разновидности труб
                p   В настоящее время на заказ производятся три типа труб:
                .torsion__tabs
                    ul.tubename__list
                        li.tubetitle__item.tubetitle__item-active
                            a.tubelink   Диаметр 84 мм.
                        li.tubetitle__item
                            a.tubelink  Диаметр 102 мм.
                        li.tubetitle__item
                            a.tubelink  Диаметр 154 мм.
                    ul.tubedescr__list
                        li.tubedescr__item.tubedescr__item-active
                            p   диаметр магнита 84 мм, длина бамбукового цилиндра 20 см — цена 1000 грн. «Нежное» действие, рассчитана на работу с областью головы и шеи, плеч.
                            .img__big
                                img(src='img/small_tube.jpg')
                        li.tubedescr__item
                            p   диаметр магнита 102 мм, длина бамбукового цилиндра 30 см - 1600 грн. Универсальный тип трубы, подходит для работы с головой и с телом.
                            .img__big
                                img(src='img/medium_tube.jpg')
                        li.tubedescr__item
                            p   диаметр магнита 154 мм, длина бамбукового цилиндра 30 см — цена 2600 грн. Настоящий ядерный реактор глубинной психоэнергетики : ) , вес более 5 кг. Используется для работы с животом, тазом, низом спины, грудью, бёдрами — мощно пробивает большую территорию тела,  воздействие сложно проигнорировать.
                            .img__big
                                img(src='img/big_tube.jpg')

                br
                p   © http://torsiontubes.in.ua/
                .empty
            nav.sidebar
                ul.sidebar__menu
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='index.html') Главная
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='author.html') Об авторе
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='applying.html') Сферы применения
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='maintenance.html') Особенности использования
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='stuff.html') Stuff
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='feedback.html') Отзывы
                    li.sidebar__item.sidebar__item-active
                        .nav__title
                            a.nav__link(href='order.html') Заказать
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='contacts.html') Контакты
                include includes/socials.pug
        footer.footer
            address.footer__email   E-mail: torsiontubes@gmail.com
        script(src="js/jquery.min.js")
        script(src="js/main.js")