doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="description" content="Владимир Долгачёв, Владимир Васильевич Долгачёв, развитие чувствительности, торсионная труба, восстановление энергетики")
        title Торсионная труба Долгачёва| Torsion Tubes
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="css/main.css")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
        script(src="js/modernizr.js")
    body
        div#fb-root
        script(defer src="js/fb_script.js")
        include includes/header.pug
        .wrapper
            main.main
                h2.article__title  Материалы
                article.stuff__texts
                    h3.stuff__title  Тексты
                    ul.texts__acc
                        li.text__item
                            .text__title
                                a.text__nav(href='#')
                                    h3  Краткое изложение основных положений “Системы Долгачева”
                            .text__descr
                                p   Мы называем это “Системой” поскольку не придумали еще достойное название, вмещающее в себя все, заложенное в ней. А это весь мир человека и всего человечества. Это наше сознание, чувства, наша психология, это наше тело с его энергией, психика с так называемой “психоэнергетикой”. Это наша целостность, как сочетание всего, что связано с человеком.
                                p   Но вначале мы определимся с основными положениями Системы.
                                strong  Сознание.
                                span    Самая неуловимая часть нашей целостности, поскольку мы постоянно находимся в сознании, не ощущая его. Мы видим его проявления, но не можем сказать что это.
                                p   Для нас сознание – это процесс, функция мозга по переработке сигналов пяти органов чувств, воспринимающих внешний по отношению к человеку мир. Сюда входит так же шестой нечувственный (т.е. не имеющий своего органа восприятия) информационный канал. Результат деятельности сознания есть понимание.
                                p   Мир, который мы видим, есть отражение в “зеркале” сознания того мира с которым контактируют наши органы чувств. И этот отраженный мир может уже не совпадать с первичным отражаемым миром, поскольку сам процесс отражения зависит от нашей памяти, опыта, понимания.
                                strong  Реальность.
                                span    Это мир независимый от нашего сознания. Он для нас невидим. Видим же мы только его отражение в нашем сознании. И это отражение мы принимаем за реальность поскольку оно для нас единственное. Первый мы будем называть реальным миром, второй ментальным. Соотношение между ними определяется действием. “Практика — критерий истины”, где истина – реальность, не зависящая от нашего сознания.
                                p   Ментальный мир, мир нашего сознания, в котором проходит вся наша жизнь, вмещает в себя все наши знания, опыт, культуру, наши чувства (ментальные чувства) – отраженные в сознании и опосредованные осознаванием потоки восприятия пяти органов чувств. Ментальное чувствование для нас единственный способ что-то прочувствовать, и мы пользуемся им повсеместно во внешнем мире.
                                p   Но если ставится задача – чувствовать самого себя (а это уже внутренний мир) мы поступаем по прежнему – включаем ментальное чувствование. Другого-то нет!
                                p   При этом у нас есть еще один канал чувствования – психоэнергетический. Мы называем этот канал чувственным, поскольку мы считаем, что у него есть свой орган чувствования — это все тело и в первую очередь мозг, как наиболее сложное биологическое образование.
                                p   Поскольку психоэнергетический чувственный канал не проходит через сознание (на сознание работают пять органов чувств), то и чувствовать его нужно соответствующим способом – психоэнергетическим. При этом сознание отмечает, что “я что-то чувствую, но сказать что это я не могу” (не проходит через сознание!). Но я имею особое чувство реальности, не зависящей от нашего сознания.
                                p   Состояние и структура нашей энергетики связана и полностью отражает физиологию органов, их структуру и состояние тела в целом. Поэтому чтобы иметь доступ к своему телу, его органам и системам мы имеем единственную возможность – психоэнергетическое чувствование. Это чувство, его оттенки и градации позволяют нам судить о состоянии органов и систем, а так же воздействовать на них энергетически. На этом основана вся система целительства.
                                p   И вот тут встает задача разделить эти два восприятия ментальное и чувственное. Это различение представляет для многих труднейшую задачу, т.к. мы имеем только одно рабочее ментальное восприятие. И где-то там, на дне наших чувств мы находим слабенькое нечто, отличное от ментальных чувств.
                                p   Это достижимо лишь при максимально возможной нейтральности осознаваемого восприятия. Т.е. мы должны научиться управлять активностью своего сознания (его осознающей части).
                                p   Кроме того, действуя таким образом, мы активируем бессознательную часть своего сознания, вводим ее в жизнь, доверяем ей, и в результате сознание приобретает целостную структуру.
                                p   Конечно, это возможно лишь при условии нормализации физической структуры мозга и его физиологии, устранении патологических программ.
                                p   Целостная структура сознания создает целостное восприятие. И мир, наш ментальный мир из дискретного, фрагментарного превращается в целостный, единый мир, увязанный своей внутренней логикой.
                                p   Более того, ментальный мир, преобразованный измененным восприятием, дополненный реальным миром чувственного восприятия внутреннего и внешнего пространства, превращается в единый целостный мир.
                                p   Итак, мы должны научиться воспринимать не только объекты восприятия, но и само восприятие. Более того, уметь различать ментальное и чувственное восприятие.
                                p   Ввиду того, что психоэнергетическая чувствительность большинства людей недостаточна для нормальной устойчивой внутренней энергетической работы, эти действия становятся затруднительными из-за отсутствия эффективной внутренней обратной связи.
                                p   Этот недостаток устраняется внешним наблюдателем, имеющим достаточную чувствительность и опыт для корректировки внутренней энергетической работы человека. Эта внешняя обратная связь будет необходима до тех пор, пока в результате длительной упорной работы человек разовьет в себе чувствительность, достаточную для самостоятельной внутренней работы.
                                p   Внутренняя работа человека заключается в выставлении исходного состояния – особого состояния энергетического тела абсолютно свободного, ненапряженного, выровненного по всему объему тела.
                                p   Наше обычное энергетическое состояние обусловлено укоренившимися привычными действиями, представлениями о самих себе, демонстрациями самих себя, поскольку любое действие совершается в определенном энергетическом состоянии. Сумма таких привычных, повторяющихся изо дня в день действий искажает в конце концов естественный энергетический каркас, что приводит к несоответствию энергетических и физических структур нашего тела.
                                p   Само собой разумеется, что физическое тело должно быть по возможности здоровым, избавленным от болезней, уродующих физическое тело и его энергетику. Но даже сама эта работа позволяет выявлять все более мелкие неисправности тела, даже те которые проявляются пока только в энергетике и устранять их энергетически либо каким-нибудь доступным способом.
                                p   И это должно продолжаться до тех пор пока изменения в энергетической структуре не станут устойчивыми, не требующими для их воспроизведения внимания и осознанных действий. Само же состояние станет физиологически нормальным, естественным, ненапряженным, спокойным состоянием человека.
                                p   С виду эти простые действия однако трудно осуществить на практике. И здесь требуются люди увлеченные, работоспособные, с полным осознаванием и пониманием собственных действий, берущие на себя ответственность за все что они делают. Люди достаточно чувствительные и тонкие.
                                p   И это только начало. Но даже само пребывание в этом нормальном, естественном состоянии, когда оно войдет в нашу жизнь, в наше сознание, в наше “Я”, многое изменит в этой жизни, поскольку изменяется первооснова сознания – восприятие.
                                p   Успехов!
                                p   В.В. Долгачёв
                        li.text__item
                            .text__title
                                a.text__nav(href='#')
                                    h3  Как все начиналось (Интервью)
                            .text__descr
                                p   Наверное, прежде всего надо сказать о том, чем это не является, это направление. Это не есть плод размышления и плод гипотезы. Это не действие в осуществление догадок о том, как все происходит в человеке. Суть в том, как человек живет, почему мы такие, как функционирует сознание. Человек, его жизнь, его сознание и как это все работает в человеке, как мы устроены, как мы живем, почему мы такие.
                                p   Гипотез не было. Это не было выстраивание какой-то гипотезы, а потом ее реализация, а наоборот – просто  чувствование самого себя, безотносительно к чему-либо. Начиналось все с расслабления – расслабить внутри, отпустить все. У Бахтиярова впервые мы занялись именно расслаблением. И с началом этого расслабления почувствовалось, насколько зажат человек. Насколько я зажат. До этого никаких чувств, пониманий о зажатости, не было, это как бы не существовало вообще. Но после того как были введены упражнения по расслаблению, и это все углублялось и находились в теле всевозможные зажимы, но и не только в теле, но и в сознании, то постепенно оно преобразовывалось. Работа шла на уровне ощущений,  было просто тотальное общее расслабление и чувствование всего тела сразу, а не поиск отдельных напряжений в теле по методу аутогенной тренировки.
                                p   Раньше, до того, я был знаком с аутогенной тренировкой. Когда-то в доме отдыха занимались этим, потом было чтение каких-то статей, но это не натолкнуло ни на что, прошло мимо, особо не зацепив. Но, когда началось общее чувствование тела, на занятиях у Бахтиярова, то тогда это было уже совсем другое. И  когда мы все больше углублялись, но стереотипы действий, жизненных установок – не менялись. Все существовало отдельно: занятие – одно, жизнь – другое. Пришел, позанимался, вышел и опять стал таким же, как до того. Фактически, занятия у Бахтиярова ограничились этим – упражнениями по релаксации, по деконцентрации/концентрации.
                                p   А потом я это стал делать в «нерабочее» время, вне времени занятий, и оно вошло в культуру жизни. Потом, по мере совершенствования навыков, углубления чувствования и, соответственно, с повышением чувствительности оно стало интересным настолько, что я уже стал это делать в обычной жизни, все глубже, глубже и глубже. Безотносительно к чему-либо. На самом деле, я даже сам не понимал, зачем я это делаю, зачем это надо, но меня как-то оно вовлекло в себя, и я начал это делать. В результате повысилась чувствительность и способность к удержанию внимания на этом расслаблении, так как оно происходило на фоне обычной жизни. И, опять же, действие было как бы ненамеренное, как бы без цели, то есть, сознание не выстраивало никаких гипотез, которые затем нужно было достичь, сделать что-то. Я просто делал, просто так. Делал и все.
                                p   Сначала у нас вел занятия Загнибеда, потом иногда вклинивался Бахтияров. Когда Загнибеда уже отошел от нас, мы занимались сами. Естественно, по инерции занимались теми же психологическими упражнениями (смотрели на точки, таблицы Шульте). Но к тому постоянному расслаблению, о котором я говорил, это не имело никакого отношения. Таблицы Шульте – взял, расслабился, посмотрел; на точки посм, это не требовало постоянного жизненного фона расслабления. Потом, когда я уже сам вел группу, был поиск – что делать дальше. Те психологические тесты, натренировывание на этих тестах, уже не удовлетворяло. У этого занятии не видно было никакого продолжения. Ну, позанимались, потому что надо, посмотрели на точки, на кружки посмотрели, на таблицы посмотрели, и… разошлись. Из всего того, чем мы занимались, не выстраивалась какая-то концепция, линия, которая бы увлекала и требовала идти по этой линии, продолжать ее. Потому что эти упражнения не вписывались в жизнь. Жизнь сама по себе, упражнения сами по себе. Да, они были несколько отличны от жизни и этим они были интересны. И все. Конечно, у Бахтиярова есть своя концепция, но ни мне, ни другим людям в нашей группе, которую я уже вел сам, это не представлялось занятием с продолжением, оно не увлекало. Но увлекало что-то другое, и это другое заставляло людей ходить. Я постоянно говорил людям: «Вот вы сюда ходите, вы должны отрефлексировать, понять – почему вы сюда ходите? Что заставляет сюда ходить?». Причем, 2 раза в неделю мы это делали, зимой и летом! Ни я, ни другие люди не могли на это ответить, это было за пределами нашего осознавания. Ведь мы и вся наш жизнь проходит в осознанном пространстве, а эта штука никем из нас не осознавалась, но заставляла нас это делать. Что это такое – не мог сказать никто. Мы сами, без руководителя, собирались целых 2 года и я постоянно говорил: надо чтоб вы прочувствовали и осознали каким-то образом, что это такое, то что мы делаем, что нас заставляет это делать.
                                p   Как я понимаю, никто всерьез не пытался решить этот вопрос. Он только у меня крутился в голове постоянно. Когда наша группа развалилась, никто из тех, кто в нее ходил, больше ничем таким не занимался.
                                p   Примерно в 1990 году я оставил свою работу в конструкторском бюро, и пошел работать на фирму, к одному товарищу, который изредка посещал нашу группу. Это был товарищ, скажем так, авантюрного склада, называл себя целителем. Когда приходил в нашу группу, он относился к нам, как к младенцам, ведь он – целитель, давно все это делал, а мы – так, мелочь. И фирму он организовал целительскую, а я ушел к нему и сразу, без подготовки, погрузился в целительскую практику.
                                p   Почему я это сделал? Потому что я ощутил, что того, как я в обычной жизни расслабляюсь – этого недостаточно. Ведь работа заставляла концентрироваться, и о каком-то расслаблении не могло идти речи. Работа стала мешать этой практике. Ведь чтобы это сделать, нужно этим заниматься постоянно, это должно быть профессией. Иначе не будет ничего.
                                p   А целительство – это уже совсем другое. Собственно, я даже не представлял, что это такое, что мы там будем делать. Поехали мы в город Припять, где-то в 90м году. Я говорю этому Саше: «Что мы там будем делать?», а он мне говорит: «А ты вот так вот руки приставляй, как вы у себя там в группе привыкли – расслабляйся, энергетику поддавай…» Люди же в Припяти, они мало того, что в периферии, так они еще этой радиацией удрученные все. И вот они в клубе встали, я это все делаю, расслабляюсь, энергетику им вкачиваю и т.д.
                                p   Этим мы занимались достаточно долго. Где-то с 90 по 95 ездили. Сидит масса народу в коридоре, на человека давали по 15 минут, он заходил, я встал напротив, просмотрел, подкачал, для себя продиагностировал, поделал, сказал ему что-нибудь, все – следующий. Чтобы мои действ были реальными, я должен был входить в особое энергетичное состояние, «настовбурчиваясь», делая что-то. Я пытался развить чувствование самой энергетики, потому что раньше, когда мы с самими собой это проделывали, мы чувствовали лишь реакцию на движение энергии. А тут я должен был чувствовать саму энергию и взаимодействовать с ней. То есть, как бы взаимодействие энергий. Его энергетика дает мне информацию о клиенте, а своей энергетикой я стараюсь устранить неровности, выровнять человека и т.д.
                                p   Причем, выкладывались мы полностью, тут уже без шуток, без  профанаций. Выдать, значит нужно выдать. Такая силовая работа продолжалась иногда с 10 утра до 10 вечера. Это помогло. Такие силовые упражнения заставляли перестраивать систему моего организма, чтоб я мог управлять этими вещами. Основная задача была – прочувствовать человека и выравнять его. Эти действия, силовые действия, они продолжались достаточно долго, до 95 года, а потом у предприятий, колхозов, не стало денег на оздоровление трудящихся. На этом все кончилось. Но в результате я многое понял.
                                p   А чувствование себя в это время продолжалось постоянно. Оно как бы изменяло само сознание, приходило понимание устройства сознания, как эта штука работает. Самое главное – метод общих жизненных действий изменился. У нормальных людей доминируют чисто сознательные, ментальные действия. Для того чтобы что-то сделать, я должен понять, осмыслить, и что-то делать. Практика целительства перевернула все действия. Здесь я человека не рассматривал чисто ментально, скажем, по выражению его лица, настроению, не спрашивал, что у человека болит. Потому что мы ж себя позиционировали, как целители, а целителю непристало спрашивать у клиента, что у него болит. Я должен был, глядя на человека, абстрагируясь от его вида и выражения лица, войти в контакт с энергетикой. Сначала чувствование, уже отсюда сознание.
                                p   Как это происходит? Здесь действия совершенно противоположные. Они не осмысленные. То, что чувствовалось – не осмысливалось. То есть, чувство, то что ты чувствуешь в человеке, ты не осмысливаешь, что оно могло бы значить, не раздумываешь на эту тему. Есть чувство зон, одна зона чувствуется так, а другая – иначе. Не раздумия о том, что это такое, а просто общая идея, что человека нужно выровнять. Это требовало воздействия силовым способом, на выравнивание. Причем это действие контролировалось обратной связью, тоже по чувствованию, а не по соображению.
                                p   И этот способ в конечном итоге перенесся на жизнь. Я на жизнь стал смотреть не ментально, соображая что это такое и как, а в чувствовании, причем это делалось без разбора на отдельные детали, не фрагментарно, а сразу. Это способ как бы общий, от общего к частному, а сознание, обычное, нормальное, действует от частного к общему – выявляет детали, строит гипотезу, программу, и делает. Понимание ситуации следует от частного к общему.  А этот способ, от общего к частному, он приучает видеть мир целиком и сразу. Но так как это все рождалось в действии, в работе, оно не осмысливалось глобально, что это и как. Это потом уже я начал осмысливать. Для того, чтобы сформулировать метод, способ, что это такое  и как оно встраивается в нашу обычную жизнь. Поэтому понадобилось понимание обычной жизни, того, как работает наше сознание и как в целом работает человек. И в конце-концов все это привело к комплексному пониманию, соединению этих противоположных методов, которые оказались дополняющими друг друга и расширяющими наше восприятие жизни и действий в этом.
                                p   Причем общее восприятие жизни позволило как бы видеть смысл своих действий.
                                p   Это привело к переосмыслению жизни, способов жизни, как мы это делаем, что такое вообще наша жизнь, человек, в частности, то есть, устройство человека, способ действия человека, как это все работает, все наши стереотипы, культура, что такое наша культура.
                                p   Пришло,  понимание того, что не мы в культуре, а культура в нас. Понимание ценности человека, как такового. Сейчас, когда говорят, что приоритет государства это человек, а государство обслуживает его, то на самом деле все наоборот. И для нас этот лозунг является пустым и ни о чем не говорит, ведь в жизни все иначе, государство вертит нами, как хочет, и культура наша , и жизнь наша.
                                p   Изнутри начинаешь понимать, что ценность – человек, а все остальное – производное человеку,  все это сделали люди, это их сознание сделало. И здесь – как работает это сознание, почему мы такие? Пришлось не то что пересматривать, но разбирать фундаментальные вещи – что такое сознание, что такое религия, что такое бог –те  фундаментальные вещи, из которых построены все наши блоки сознания.
                        li.text__item
                            .text__title
                                a.text__nav(href='#')
                                    h3  Почему тело?
                            .text__descr
                                p   «…Когда я ходил в группу к Загнибеде, мы познакомились с биолокацией.
                                p   Еще в 83г, на конференции, я впервые познакомился с феноменом биолокации. Видел рамки разных модификаций, и прямоугольные, и всякие.
                                p   Позже, уже в рамках бахтияровской группы, пошли с одним парнем, который профессионально занимался биолокацией, в Киево-Печерскую Лавру и определяли этими рамками, где находятся подземные ходы.
                                p   И мне стало интересно, как же это у них получается, как они работают? Я стал с ними тренироваться и через некоторое время понял, что датчиком является тело человека. А рамка – только индикатор. Следовательно, чувствительность этого датчика = чувствительность нашего тела. И успешность биолокации зависит от чувствительности тела. Тогда встал вопрос о том, что такое эта чувствительность тела, от чего она зависит? Как тело реагирует?
                                p   Проникнуть внутрь собственного тела при помощи 5 органов чувств – невозможно, ментально – нельзя.Ментально – это будет воображение, а не реальность. Мне нужна была реальность. Поэтому встал вопрос о разделении реальности, не зависящей от нашего сознания, и реальности, которая от него зависит. Для того, чтобы себя чувствовать, воображение и ментальную активность нужно немножко снизить, чтобы я в свое чувствование не вносил своих собственных догадок. Чтобы то, что я знаю, или предполагаю об устройстве соего организма, не влияло на мое чувствование. Как это делается – уже техника.
                                p   Естественно, что необходимо расслабиться. Но расслабления, которое мы можем осуществить при помощи ментальной команды, недостаточно. Потому что в теле есть зажимы, которые вызваны какими-то физиологическими нарушениями или расстройствами. Это необязательно уже болезнь. Но некая физиологическая неправильность – точно. Такие зажимы с помощью ментала устранить невозможно. И они ведут за собой изменения энергетики. Она там как бы “стоит”.
                                p   Так как чувствительность зависит от структуры (энергетической), необходимо было ее улучшить. Потому что энергетика, она как-бы жестко привязана к нашим физическим структурам, клеточным, органным, к функциям. Любые наши действия, движения, как механические, так и мыслительные, они вызывают движение и изменение энергии. И поэтому, если у нас где-то есть непроходимости, этот участок не работает.
                                p   Тогда на первое место начинает выступать не столько цель повышения чувствиетльности, но, так как ты начинаешь уже чувствовать свое тело, больше его энергетическая нормализация. На это уходит довольно много времени, годы. Начинаешь что-то чувствовать и оно там плохо, но внутренними движениями энергетическими ты не можешь с этим справиться, потому что твой ресурс – очень ограничен, слаб. Потому что тело представляет собой конгломерат блоков. И то, что между ними может протекать, свободная энергия, этого очень мало. И сделать этим что-то, серьезный сдвиг, невозможно. Стоит вопрос: что с этим делать? Приходится подключать внешнее воздействие. Под внешним воздействием понимаются всяческие физиотерапевтические процедуры – массажи, различные устройства, всевозможные излучатели. Я покупал всякую аппаратуру – инфракрасную, световую, поляризованного света, электромагнитную индукцию, магниты, кристаллы, минералы и т.д.
                                p   Так как я уже мог что-то чувствовать, то все эти приспособления я выбирал не ментальным, а “чувственным” способом. Методом перебора: включал, приставлял к себе и чувствовал, надо оно мне, или нет, то, или не то. Чисто экспериментальным методом. Мне все равно было, каков принцип действия того или иного прибора, главное, как это работает на мне. Пришлось также изобретать собственную аппаратуру. Потому что то, что есть в продаже, очень ограничено в ассортименте и по агенту воздействия. Сюда можно отнести приборы… Даже не знаю, как эту штуку назвать… Скажем так, эффекты движения. Например, если трубу обмотать шлангом и пустить через нее воду, то по оси трубы возникает некое движение. Как-бы, индуктор какого-то поля. Что это за поле – я не знаю. Также и наука не знает, что это такое. Но оно действует. Также сотовые структуры.
                                p   Таким образом постепенно улучшалась энергетическая структура, утончалась чувствительность.
                                p   Уже оттуда, при достаточном развитии этого, появляется возможность чувствовать не только реакцию тела на движение энергии, но и саму энергию, ее колебания. Потому что функции наши очень сильно связаны с движением энергии. Ведь можно полагать так, что определенная энегия способствует действию функции, но можно потакже предположить, что функция порождает энергию. Они неразрывно связаны друг с другом. Энергия возникает от функции, она же и способствует ей. Поэтому, при достаточной чувствительности можно отслеживать функциональную часть. А это значит, что можно отслеживать и собственное сознание. Его структуру и действия. А это уже много.
                                p   Официальная наука, например психология, имеет дело с ментальной, функциональной стороной сознания. А это – взгляд со стороны механизма. Любая функция имеет механизм. Эти механизмы психология игнорирует, потому что не достает до них. Вот например: человек для нас – прежде всего личность. А личность – это функциональная единица социума. Поэтому мы на человека смотрим, как на функциональную единицу, что он делает. Но ведь это лишь часть человека, а сам человек, как механизм, который выполняет социальные действия, для нас как бы отсутствует. Здесь, такой чувственный путь дает возможность рассматривать механизмы действия. И тогда это будет уже некая целостность.
                                p   При чем, самое главное здесь, что когда мы таким образом рассматриваем механизмы, чувственно постигая их, мы имеем дело с реальностью, не зависящей от нашего сознания. Сюда не вносятся наши образы, гипотезы, еще что-то. Чисто механизмы, такие, как они есть, не искаженные сознанием. Сознание работает со своей стороны, со своими искажениями, методами, средствами и проч.
                                p   Действия наши по … нельзя сказать “познание”, потому что познание – это чисто ментальный способ. Так вот, действия наши по, условно говоря, “познанию” этих механизмов, они должны быть реальные. Вот это отделение воображаемых действий и отделение образов от реальной жизни – это достаточно долгий путь, долгий и тернистый.
                                p   Когда ты сосредоточился на чем-то, когда ты пытаешься прочувствовать что-то, то, что ты видишь – реальность или воображение? Как определить? Если достаточно долго пытаться, то научаешься отделять реальность от воображения. Поэтому нужно снижать ментальную акивность, приглушать желание что-либо увидеть. Тогда под ним проступает чувство.
                                p   Стоит один раз за это зацепиться, почувствовать эту разницу, и дальше нужно просто все больше и больше это тренировать. А с этим проблемы нет. А это значит, что в обычном человеческом ментальном мире ты уже начинаешь включать реальное сканирование. Ведь тело-то у нас одно, мозги одни, целостность одна. И вот эти 2 восприятия поначалу конкурировали, их нельзя было отделить, различить. Начинаешь видеть разные вещи, события по-разному. Приходится акцентировать сначала на одном, потом на другом. Но со временем два восприятия становятся равнозначными.
                                p   Когда чувственное восприятие становится соотносимым с восприятием нормальным, и ты можешь, глядя на мир, пользоваться ими одновременно, тогда начинаешь понимать обьем того и другого. Становится понятно, что является базисом, а что надстройкой. Базис (чувственное восприятие) – он безмерен и бесконечен. А ментальная надстройка над ним – ограничена. Если я переключаюсь в ментальное восприятие, для меня это становится весь мир. Как только включается одновременность, то сразу становится очевидна “малость” ментального мира. И это очень интересное переживание – переживание восприятия. Это то, что можно сказать на теперешнем уровне развития.
                                p   Но если умом экстраполировать дальше, то тут представляются очень интересные перспективы. Но заранее узнать о том, как там будет, нельзя.
                                p   Если чувствование энергетическое возможно будет отделить от тела, что возможно только при условии устранения основных неисправностей в теле (под телом подразумевается также мозг), то тогда возможно будет понимание того, что внутренний и внешний мир – едины. И они в действительности обьединяются.
                                p   Ведь внутренним миром мы управляем. Внешним миром мы тоже управляем, но только в своем воображении. А внутренним миром мы управляем в реальности.
                                p   Когда 2 мира обьединяются, то возможно реальное управление этим обьединенным миром. Что это такое? Это запредельно.
                                p   Запредельно в том смысле, что возможности там – безграничны. Сейчас мы ограничены возможностями нашего тела, возможностями нашего мозга. Но, когда станет возможным такое отделение…
                                p   Тут мы вступили в некое противоречие. Ведь в начале мы говорили о том, что сознание – функция мозга. А здесь уже получается, что сознание – не есть функция мозга. Что это такое, сознаие в этом мире, представить себе нельзя. Этот вопрос решить можно только практически. Дойти до этого этапа с возможностью реального восприятия и реальных действий. Это некий рубеж. Но, когда мы идем сюда, то понимание того, что сознание – функция нашего мозга, является рабочей гипотезой, которая позволяет нам работать с нашим мозгом. Без такой гипотезы мы бы не стали заниматься нашими мозгами.
                                p   Что лежит за этим переходом – не знает никто. Возможно, это называется смерть. Вполне может быть. Но так же возможно, что нет. Это мы сможем понять только там…»
                article.stuff__video
                    h3.stuff__title  Видео
                    ul.video__acc
                        li.video__item
                            .video__title
                                a.video_nav(href='#')
                                    h3  Видео (для ознакомления с системой)
                            .video__list
                                iframe.youtube__frame(src="https://www.youtube.com/embed/B0t8j0-V9As" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/lxrSSHrvRps" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/2C8TE4-CAaw" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/3hKji7naCZo" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/ovxqOFRRB3c" allowfullscreen)
                        li.video__item
                            .video__title
                                a.video_nav(href='#')
                                    h3  Видео (для практиков системы)
                            .video__list
                                iframe.youtube__frame(src="https://www.youtube.com/embed/yH8YNMY1Sr0" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/rR2YDF1ejMc" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/huVUXpQrrHw" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/MzNUpbXiypc" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/y3ecSSjzCPo" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/9loOSsJh0ws" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/7rVElzTLRrA" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/tBEtBYCQh0E" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/hgtS6s44vGQ" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/BdDpf_M3zus" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/3hKji7naCZo" allowfullscreen)
                                iframe.youtube__frame(src="https://www.youtube.com/embed/eKEsuvvlp0o" allowfullscreen)
                article.stuff__audio
                    h3.stuff__title Аудио
                    p   Аудио-интервью с В.Д. Долгачёвым «О воздействии труб»
                    <audio controls class="audio__controls">
                    <source src="audio/dolgachev_tubes_interview.mp3" type="audio/mpeg">
                    p   Тег audio не поддерживается вашим браузером.
                    <a href="audio/dolgachev_tubes_interview.mp3">Скачайте музыку</a>.
                    </audio>
                br
                p   © http://torsiontubes.in.ua/
            nav.sidebar
                ul.sidebar__menu
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='index.html') Главная
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='author.html') Об авторе
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='applying.html') Применение
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='maintenance.html') Эксплуатация
                    li.sidebar__item.sidebar__item-active
                        .nav__title
                            a.nav__link По теме
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='feedback.html') Отзывы
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='order.html') Заказать
                    li.sidebar__item
                        .nav__title
                            a.nav__link(href='contacts.html') Контакты
                include includes/socials.pug
        footer.footer
            address.footer__email
                a(href='mailto:torsiontubes@gmail.com') E-mail: torsiontubes@gmail.com
        script(src="js/jquery.min.js")
        script(src="js/main.js")
