.header
    .logo
        h1
            a.logo__nav(href='index.html')  Torsion Tube
    .logo__bamboo
        img(src='img/bamboo_header.svg')
    .background__header
    .email
        address
            a(href='mailto:torsiontubes@gmail.com')  E-mail: torsiontubes@gmail.com