.sidebar-img
    img(src='img/bamboo_sidebar.png')
.socials__vk
    script(type="text/javascript", src="//vk.com/js/api/openapi.js?129").
    div#vk_groups
    script(type="text/javascript").
        VK.Widgets.Group("vk_groups", {
            mode: 3,
            width: "270",
            height: "400",
            color1: 'b9ef19',
            color2: '000000',
            color3: '307606',
            opacity: '0.8'
        }, 56482260)

.socials__fb
    .fb-page(data-href="https://www.facebook.com/torsiontubes/", data-tabs="timeline", data-width="280", data-height="300", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true")
        blockquote(cite="https://www.facebook.com/torsiontubes/", class="fb-xfbml-parse-ignore")
            a(href="https://www.facebook.com/torsiontubes/") Торсионная труба Долгачёва - Украина
